{% load static %}
<html>
    <head>
        <title>Wolf-e</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!--
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-float.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
        -->
        <link rel="stylesheet" href="{% static "css/wolfie.css" %}">

    </head>
    <body>
        <div class="container container-fluid">
            <nav class="global-nav show-for-smedium navbar">
                <div class="global-nav-title">
                    <img id="wolfie-logo" src="{% static "img/wolfielogo.png" %}"<strong>Wolf-e</strong>
                </div>
               
             
             </nav>

             <div class="row">
                <div class="col-sm">
            </div>
            <div class="page-header">
                <h1><a href="/">Customer Login</a></h1>
            </div>
                One of three columns
            </div>
            <div class="col-sm">
              {% block content %}
              {% endblock %}
            </div>
            <div class="col-sm">
              One of three columns
            </div>
          </div>

        
    </body>
</html>