{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col-sm-2"> </div>
	<div class="col-sm-7">
	  	<h1>Confirm your order!</h1>
		<!-- display the shopping cart here here --> 





<h1 class="display-4">Your Shopping Cart</h1>
{% if shoppingcart %}
<hr>
<form action"" method="POST">
	{% csrf_token %}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Item</th>
				<th scope="col">Price</th>
				<th scope="col">Quantity</th>
			</tr>
		</thead>
		<tbody>
			
	{% for shoppingcartrow in shoppingcart %}
		<tr>
			<td>
				<a href=""><b>{{ shoppingcartrow.itemid.itemname }}</b></a>
			</td>
			<td>${{ shoppingcartrow.itemid.price }}</td>
			<td>
				<div class="row">
					<div class="col">
						{{ shoppingcartrow.quantity }}
					</div>
<!-- 					<div class="col">
						<a class ="right-button-link" href = "/shoppingcart/delete/{{shoppingcartrow.customerid.customerid}}/{{shoppingcartrow.itemid.itemid}}">
						<div type = "button submit" name="delete_item" class="btn btn-outline-danger btn-sm">
							<span class="oi oi-trash" title="remove" aria-hidden="true"></span>
						</div></a>
					</div> -->
				</div>
			</td>
		</tr>
	{% endfor %}
		</tbody>
	</table>
</form>
<hr>
	
	<b>Subtotal: ${{ request.session.subtotal }}</b>

	<hr>

{% else %}
{{ error }}
{% endif %}




		<div class="alert alert-light custom-alert" role="alert">
			<h2> Shipment Details </h2>
			{% if shipp.provider|length > 0  %}
				<strong>Provider: </strong>{{shipp.provider}} <br/>
				<strong>Shipment Type: </strong>{{shipp.shipmenttype}} <br/>
				<strong>Address: </strong>{{shipp.address}} <br/>
				<strong>Fee: </strong>{{shipp.address}} <br/>
				
				{% else %}
				We could not find your shippment details, please add your shipping info here:
				<a class="right-button-link" href="/shipment"><div type="button submit" class="btn btn-info btn-block">Add Shipping</div>

			{% endif %}
		</div>	


		<div class="alert alert-light custom-alert" role="alert">
			<h2> Payment Details </h2>

			{% if payy.paytype|length > 0  %}
				<strong>Card Type: </strong>{{payy.paytype}} <br/>
				<strong>Billing Address: </strong>{{payy.billingaddress}} <br/>
			
			<form action="" method="post">
				{% csrf_token %}
			
			{% else %}
			We could not find your shipment details, please add your payment info here:
			<a class="right-button-link" href="/shipment"><div type="button submit" class="btn btn-info btn-block">Add Payment Info</div>
			
			
			
			{% endif %}
			
			</form>
		</div>
		<br/>

		<form action="" method="post">
				{% csrf_token %}
				
				{% if shipp.provider|length > 0  and payy.paytype|length > 0  %}
				<button class="btn btn-primary btn-lg btn-block" type="button submit">Confirm Order and Process!</button> 
				{% else %}
				Please finish adding the require details in order for us to process your order!
				<button class="btn btn-primary btn-lg btn-block" type="button submit" disabled>Confirm Order and Process!</button> 
				{% endif %}

		</form>
	</div>

	<div class="col-sm-2"> </div>
	</div>
</div>

<div class="row">
	
</div>

{% endblock %}
