<h1>Welcome to WolfieShop</h1>
<h2>Items</h2>

<h3>Books</h3>
<ul>
	{% for item in books %}
		<li>
			<a href="{% url 'item_detail' item.itemid %}">{{ item.itemname }}</a>
			<ul>
				<li>Price: {{ item.price}}</li>
			</ul>
		</li>
	{% endfor %}
</ul>

<h3>Stationery</h3>
<ul>
	{% for item in stationery %}
		<li>
			<a href="{% url 'item_detail' item.itemid %}">{{ item.itemname }}</a>
			<ul>
				<li>Price: {{ item.price}}</li>
			</ul>
		</li>
	{% endfor %}
</ul>



<h3>Electronics</h3>
<ul>
	{% for item in electronics %}
		<li>
			<a href="{% url 'item_detail' item.itemid %}">{{ item.itemname }}</a>
			<ul>
				<li>Price: {{ item.price}}</li>
			</ul>
		</li>
	{% endfor %}
</ul>


