{% extends 'base.html' %}
{% block content %}


<h1 class="display-4">Your Shopping Cart</h1>
{% if shoppingcart %}
<hr>
<form action"" method="POST">
	{% csrf_token %}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Item</th>
				<th scope="col">Price</th>
				<th scope="col">Quantity</th>
			</tr>
		</thead>
		<tbody>
			
	{% for shoppingcartrow in shoppingcart %}
		<tr>
			<td>
				<a href="/item/{{shoppingcartrow.itemid.itemid}}"><b>{{ shoppingcartrow.itemid.itemname }}</b></a>
			</td>
			<td>${{ shoppingcartrow.itemid.price }}</td>
			<td>
				<div class="row">
					<div class="col">
						{{ shoppingcartrow.quantity }}
					</div>
					<div class="col">
						<a class ="right-button-link" href = "/shoppingcart/delete/{{shoppingcartrow.customerid.customerid}}/{{shoppingcartrow.itemid.itemid}}">
						<div type = "button submit" name="delete_item" class="btn btn-outline-danger btn-sm">
							<span class="oi oi-trash" title="remove" aria-hidden="true"></span>
						</div></a>
					</div>
				</div>
			</td>
		</tr>
	{% endfor %}
		</tbody>
	</table>
</form>
<hr>
	
	<b>Subtotal: ${{ request.session.subtotal }}</b>
	<div id="checkoutbutton">
		<form action="" method="POST">
			{% csrf_token %}
			<button type="button submit" class="right-button-link btn btn-info">Checkout</button>
		</form>
		</a>
	</div>

{% else %}
{{ error }}
{% endif %}

{% endblock %}