{% extends 'base.html' %}
{% block content %}


<h1 class="display-4">Your Transaction History</h1>
{% if transhist %}

{% for transactionorder, transactioncontsandnames in transhist %}
<hr style="width: 100%; color: black; height: 1px; background-color:red;" />
<ul>
	<h5>Date Processed: {{ transactionorder.dateprocessed }}</h5>
	<h6>Total Price: ${{transactionorder.totalprice}}</h6>
</ul>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Item</th>
			<th scope="col">Price</th>
			<th scope="col">Quantity</th>
		</tr>
	</thead>
	<tbody>
		
{% for transactioncrow, itemname in transactioncontsandnames %}
	<tr>
		<td>
			<a href="/item/{{transactionrow.itemid.itemid}}"><b>{{ itemname }}</b></a>
		</td>
		<td>${{ transactioncrow.priceperitem }}</td>
		<td>
			<div class="row">
				<div class="col">
					{{ transactioncrow.quantity }}
				</div>
			</div>
		</td>
	</tr>
{% endfor %}
	</tbody>
</table>
{% endfor %}

<hr>
	

{% else %}
{{ error }}
{% endif %}

{% endblock %}