nav.global-nav{
	background-color:#890000;
}

img#wolfie-logo{
	width:80px;
	height:auto;
}

.navbar-wolf-title{
	font-size:2em;
	font-weight:600;
	vertical-align: middle;
}

#navbarText ul .nav-item{
	font-size: 1.5em;
    padding-right: 1em;
}


.content-row-block{
	margin-top:30px;
	padding-top:10px;
}